<div class="container-custom mt-4 shadow-lg">
    <div class="row">
        <div class="col-md-6 image-container">
            <img src="assets/YOG.png" alt="My Image img-thumbnail">
        </div>
        <div class="col-md-6 text-container">
            <!-- <h2>Yogesh Shete</h2> -->
            <p>
                Hi, I’m Yogesh Shete, a Computer Engineering Undergraduate from Savitribai Phule Pune University (SPPU) 
            </p>
            <p>
                Over the years, I’ve had the opportunity to work on a wide range of projects, from eCommerce platforms to portfolio websites. My goal is always to create user-centered designs that not only look great but also offer seamless functionality. I enjoy finding creative solutions to problems and staying up to date with the latest industry trends.
            </p>
            <p>
                <strong>My Skills:</strong><br>
                Frontend Development (HTML, CSS, JavaScript, React), Backend (Node.js, Express), UI/UX Design (Figma, Adobe XD), Tools (Git, VS Code).
            </p>
            <p>
                Outside of work, you can find me experimenting with photography, hiking, or keeping up with the latest web technologies. I’m always eager to learn and grow.
            </p>
            <p>
                Interested in collaborating? Let’s connect and create something amazing together!
            </p>
        </div>
    </div>
</div>