.container {
    display: flex;
    align-items: center;
}

.container img {
    margin-right: 20px;
    width: 200px;
    /* Set your desired width */
    height: auto;
    /* Adjust the size as needed */
}

.container p {
    margin: 0;
}