.container-custom {
    margin-left: 10%;
    margin-right: 10%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-container {
    padding: 30px;
    margin: 0; /* Add margin only on the top and bottom */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
}

.text-container h2 {
    font-family: 'Arial', sans-serif; /* Change to your preferred font */
    font-size: 2rem; /* Adjust font size */
    font-weight: bold; /* Make the heading bold */
    color: #333; /* Set a color for the heading */
    margin-bottom: 1rem; /* Add space below the heading */
}

.text-container p {
    font-family: 'Verdana', sans-serif; /* Change to your preferred font */
    font-size: 1rem; /* Adjust font size */
    line-height: 1.6; /* Improve line height for readability */
    color: #555; /* Set a color for the paragraphs */
    margin-bottom: 1rem; /* Add space between paragraphs */
}


img {
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
}

.row {
    margin: 0; /* Remove row margin if any */
}


/* Media query for mobile adjustments */
@media (max-width: 768px) {
    .container-custom {
        margin-left: 5%;
        margin-right: 5%;
    }

    .image-container {
        width: 100%; /* Full width for image on mobile */
        margin-bottom: 10px; /* Space below the image */
    }

    .text-container {
        width: 100%; /* Full width for text on mobile */
        margin: 0; /* Remove extra margin in mobile */
        padding: 20px; /* Adjust padding for mobile */
    }

    .text-container h2 {
        font-size: 1.5rem; /* Smaller heading size on mobile */
    }

    .text-container p {
        font-size: 0.9rem; /* Smaller paragraph size on mobile */
    }
}
