<div class="container-custom mt-4 shadow-lg">
    <div class="row">
        <div class="col-md-6 col-12 image-container">
            <img src="assets/YOG.png" alt="Yogesh Shete" class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6 col-12 text-container">
            <h2>Hello....Namaste..!</h2>
            <p>
                I’m Yogesh Shete, a Computer Engineering graduate from PES Modern College of Engineering, affiliated
                with Savitribai Phule Pune University, where I achieved a commendable overall CGPA of 8.88.
            </p>
            <p>
                Currently, I am excited to apply my skills and knowledge as a Software Engineer Trainee at Yardi
                Software India Pvt Ltd. I am driven by a passion for utilizing technology to tackle complex problems and
                eager to contribute to innovative projects in this dynamic environment.
            </p>
            <p>
                Outside of work, I love making real-life portraits, and I’m a passionate tech enthusiast always eager to
                explore the latest in technology.
            </p>
            <p>
                Interested in collaborating? Let’s connect and create something amazing together! <a href="#">Connect</a>
            </p>
        </div>
    </div>
</div>
