<div class="job-experience-container mt-4 shadow-lg">
    <h2 class="text-center">Job Experience</h2>
    <div class="job-timeline">
        <div class="job-timeline-item">
            <div class="job-timeline-content">
                <h3>Software Engineer Trainee</h3>
                <h4>Yardi Software India Pvt Ltd</h4>
                <p>2024 - Present</p>
                <ul>
                    <li>
                        <p>Contributing to innovative projects by applying knowledge in software development and
                            engineering practices.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="job-timeline-item">
            <div class="job-timeline-content">
                <h3>Summer Intern</h3>
                <h4>Persistent Systems</h4>
                <p>Jun 2023 - Aug 2023</p>
                <ul>
                    <li>
                        <p>Engaged in the "PersistentMartian Summer Internship Program 2023," delving into a
                            comprehensive curriculum covering Linux, Data Structures, Algorithms, DBMS, and Python programming.</p>
                    </li>
                    <li>
                        <p>Successfully passing the assessment test, I secured a spot for an onsite interview, earning
                            the opportunity to join as an intern.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
