.top-area {
    background: #333;
    .navbar {
      padding: 10px;
    }
    .navbar-toggle {
      border: none;
      &:focus {
        outline: none;
      }
    }
    .navbar-brand {
      font-weight: bold;
      color: #fff;
    }
    .navbar-nav > li > a {
      color: #ddd;
      &:hover {
        color: #fff;
      }
    }
  }

  /* <style> */
.navbar {
    background: linear-gradient(90deg, #043874, #1c0108); /* Gradient background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}


  