.top-area {
    background: #333;
    .navbar {
      padding: 10px;
    }
    .navbar-toggle {
      border: none;
      &:focus {
        outline: none;
      }
    }
    .navbar-brand {
      font-weight: bold;
      color: #fff;
    }
    .navbar-nav > li > a {
      color: #ddd;
      &:hover {
        color: #fff;
      }
    }
  }
  