<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
  <a class="navbar-brand text-white ml-3" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-right mr-3 text-white" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <Button class="mr-5">Hello</Button>
      <Button class="mr-5">Hello</Button>
      <Button class="mr-5">Hello</Button>
      <Button class="mr-5">Hello</Button>
    </div>
  </div>
</nav>